<%- include('partials/header') %>
<div class="pbmit-title-bar-wrapper">
    <div class="container">
        <div class="pbmit-title-bar-content">
            <div class="pbmit-title-bar-content-inner">
                <div class="pbmit-tbar">
                    <div class="pbmit-tbar-inner container">
                        <h1 class="pbmit-tbar-title"> Contact Us</h1>
                    </div>
                </div>
                <div class="pbmit-breadcrumb">
                    <div class="pbmit-breadcrumb-inner">
                        <span>
                            <a title="" href="#" class="home"><span>Yral Concepts</span></a>
                        </span>
                        <span class="sep">
                            <i class="pbmit-base-icon-angle-right"></i>
                        </span>
                        <span><span class="post-root post post-post current-item"> Contact Us</span></span>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div>
<!-- Title Bar End-->
<section class="section-xl">
    <div class="container">
        <div class="row pbminfotech-gap-40px">
            <article class="pbmit-miconheading-style-10 col-md-6 col-lg-3">
                <div class="pbmit-ihbox-style-10">
                    <div class="pbmit-ihbox-headingicon">
                        <div class="pbmit-ihbox-wrap">
                            <div class="pbmit-ihbox-contents">
                                <h2 class="pbmit-element-title">Mail Us 24/7</h2>
                                <div class="pbmit-heading-desc">
                                    <a href="mailto:info@yralconcepts.com" class="__cf_email__" data-cfemail="89f9ebe4e0e7efe6fdeceae1c9eee4e8e0e5a7eae6e4">info@yralconcepts.com</a> <br>
                                    <a href="mailto:marketing@yralconcepts.com" class="__cf_email__" data-cfemail="87f4f2f7f7e8f5f3c7f7e5eaeee9e1e8f3e2e4efa9e4e8ea">marketing@yralconcepts.com</a></div>
                            </div>
                            <div class="pbmit-ihbox-icon">
                                <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                                    <i class="pbmit-xclean-icon pbmit-xclean-icon-email"></i>
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-btn-wrap">
                            <div class="pbmit-ihbox-btn">
                                <a href="#">
                                    <span class="pbmit-button-text">Read More</span>
                                    <span class="pbmit-button-icon-wrapper">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-black-arrow-1"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="pbmit-miconheading-style-10 col-md-6 col-lg-3">
                <div class="pbmit-ihbox-style-10">
                    <div class="pbmit-ihbox-headingicon">
                        <div class="pbmit-ihbox-wrap">
                            <div class="pbmit-ihbox-contents">
                                <h2 class="pbmit-element-title">Our Location</h2>
                                <div class="pbmit-heading-desc">Warehouse No. 6, Umm Al Thoob, Umm Al Quwain, UAE</div>
                            </div>
                            <div class="pbmit-ihbox-icon">
                                <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                                    <i class="pbmit-xclean-icon pbmit-xclean-icon-email"></i>
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-btn-wrap">
                            <div class="pbmit-ihbox-btn">
                                <a href="#">
                                    <span class="pbmit-button-text">Read More</span>
                                    <span class="pbmit-button-icon-wrapper">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-black-arrow-1"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="pbmit-miconheading-style-10 col-md-6 col-lg-3">
                <div class="pbmit-ihbox-style-10">
                    <div class="pbmit-ihbox-headingicon">
                        <div class="pbmit-ihbox-wrap">
                            <div class="pbmit-ihbox-contents">
                                <h2 class="pbmit-element-title">Call US 24/7</h2>
                                <div class="pbmit-heading-desc">Phone: +971 56 202 4262</div>
                            </div>
                            <div class="pbmit-ihbox-icon">
                                <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                                    <i class="pbmit-xclean-icon pbmit-xclean-icon-phone"></i>
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-btn-wrap">
                            <div class="pbmit-ihbox-btn">
                                <a href="#">
                                    <span class="pbmit-button-text">Read More</span>
                                    <span class="pbmit-button-icon-wrapper">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-black-arrow-1"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="pbmit-miconheading-style-10 col-md-6 col-lg-3">
                <div class="pbmit-ihbox-style-10">
                    <div class="pbmit-ihbox-headingicon">
                        <div class="pbmit-ihbox-wrap">
                            <div class="pbmit-ihbox-contents">
                                <h2 class="pbmit-element-title">Working Days</h2>
                                <div class="pbmit-heading-desc">Mon to Sat - 08:00am To 06:00pm <br> Sunday - Closed</div>
                            </div>
                            <div class="pbmit-ihbox-icon">
                                <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                                    <i class="pbmit-xclean-icon pbmit-xclean-icon-briefcase"></i>
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-btn-wrap">
                            <div class="pbmit-ihbox-btn">
                                <a href="#">
                                    <span class="pbmit-button-text">Read More</span>
                                    <span class="pbmit-button-icon-wrapper">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-black-arrow-1"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>            
<!-- Ihbox End -->  

<!-- Contact Form -->
<section class="section-lgb contact-us-bg">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 col-xl-5">
                <div class="pbmit-heading-subheading animation-style2">
                    <h4 class="pbmit-subtitle">Contact us</h4>
                    <h2 class="pbmit-title">Happy to Answer All Your Questions</h2>
                    <div class="pbmit-heading-desc">
                        We carefully screen all of our cleaners, so you can rest assured that <br> your home would receive the absolute highest quality of service <br> providing. 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="pbmit-ihbox-style-4">
                            <div class="pbmit-ihbox-headingicon">
                                <div class="pbmit-ihbox-icon">
                                    <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                                        <i class="pbmit-xclean-icon pbmit-xclean-icon-customer-service"></i>
                                    </div>
                                </div>
                                <div class="pbmit-ihbox-contents">
                                    <h4 class="pbmit-element-subtitle">
                                        Call Us Anytime
                                    </h4>
                                    <h2 class="pbmit-element-title">
                                        <a href="tel:+971 56 202 4262">
                                            <span class="pbmit-button-text">+971 56 202 4262</span>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-7">
                <div class="contact-form-rightbox">
                    <%- include('partials/enquiry') %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form End -->

<!-- Client Start -->
<section>
    <div class="container">
        <div class="border-top section-md">
            <div class="row">
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="images/client/client-global-01.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="images/client/client-black-01.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="images/client/client-global-02.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="images/client/client-black-02.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="images/client/client-global-03.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="images/client/client-black-03.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="images/client/client-global-04.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="images/client/client-black-04.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="images/client/client-global-05.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="images/client/client-black-05.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="images/client/client-global-06.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="images/client/client-black-06.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Client End -->

<!-- Iframe -->
<section class="iframe-section section-lgb pbmit-extend-animation">
    <div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3599.3605582298364!2d55.67909849999999!3d25.5596685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef5e3006d56360b%3A0x278cabffcd76009e!2sYral%20Concepts%20LLC%20FZ!5e0!3m2!1sen!2sin!4v1744648548905!5m2!1sen!2sin"  height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<%- include('partials/footer') %>