<%- include('partials/header') %>
<div class="pbmit-slider-area pbmit-slider-one">
    <div class="swiper-slider" data-autoplay="true" data-loop="true" data-dots="true" data-arrows="false"
        data-columns="1" data-margin="0" data-effect="fade">
        <div class="swiper-wrapper">
            <!-- Slide1 -->
            <div class="swiper-slide">
                <div class="pbmit-slider-item">
                    <div class="pbmit-slider-bg"
                        style="background-image: url(/assets/images/banner.jpg);">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-7">
                                <div class="pbmit-slider-content">
                                    <h5 class="pbmit-sub-title transform-delay-1">Needs Professional Cleaning</h5>
                                    <h2 class="pbmit-title transform-left transform-delay-2">Clean Spaces Start Here.</h2>
                                    <p class="pbmit-desc transform-bottom transform-delay-3">Your one-stop destination for premium cleaning materials, tools, and disposables. From dispensers to eco-friendly plates — we've got you covered.</p>
                                    <div class="pbmit-button transform-bottom transform-delay-4">
                                        <a class="pbmit-btn pbmit-btn-global" href="/contact">
                                            <span class="pbmit-button-content-wrapper">
                                                <span class="pbmit-button-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.76"
                                                        height="22.76" viewBox="0 0 22.76 22.76">
                                                        <title>black-arrow</title>
                                                        <path
                                                            d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1,1,22.34"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                    </svg>
                                                </span>
                                                <span class="pbmit-button-text">Request a Quote</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Slide2 -->
            <div class="swiper-slide">
                <div class="pbmit-slider-item">
                    <div class="pbmit-slider-bg"
                        style="background-image: url('/assets/images/banner2.jpg');">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-7">
                                <div class="pbmit-slider-content">
                                    <h5 class="pbmit-sub-title transform-top transform-delay-1">Ultimate Clean
                                        Solutions</h5>
                                    <h2 class="pbmit-title transform-left transform-delay-2">Bins, Trolleys & Disposables</h2>
                                    <p class="pbmit-desc transform-bottom transform-delay-3">From dispensers to cleaning tools — find everything you need to keep your space spotless and hygienic.</p>
                                    <div class="pbmit-button transform-bottom transform-delay-4">
                                        <a class="pbmit-btn pbmit-btn-global" href="/products">
                                            <span class="pbmit-button-content-wrapper">
                                                <span class="pbmit-button-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.76"
                                                        height="22.76" viewBox="0 0 22.76 22.76">
                                                        <title>black-arrow</title>
                                                        <path
                                                            d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1,1,22.34"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                    </svg>
                                                </span>
                                                <span class="pbmit-button-text">Our Products</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide3 -->
            <div class="swiper-slide">
                <div class="pbmit-slider-item">
                    <div class="pbmit-slider-bg"
                        style="background-image: url('/assets/images/banner3.jpg');">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-7">
                                <div class="pbmit-slider-content">
                                    <h5 class="pbmit-sub-title transform-top transform-delay-1">Your clean, our
                                        guarantee.</h5>
                                    <h2 class="pbmit-title transform-left transform-delay-2">Clean Spaces, Safe Lives</h2>
                                    <p class="pbmit-desc transform-bottom transform-delay-3">Discover premium-quality cleaning tools designed for effective hygiene and effortless maintenance. Shop now for a cleaner, healthier environment!</p>
                                    <div class="pbmit-button transform-bottom transform-delay-4">
                                        <a class="pbmit-btn pbmit-btn-global" href="/contact">
                                            <span class="pbmit-button-content-wrapper">
                                                <span class="pbmit-button-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.76"
                                                        height="22.76" viewBox="0 0 22.76 22.76">
                                                        <title>black-arrow</title>
                                                        <path
                                                            d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                        <path d="M22.34,1,1,22.34"
                                                            transform="translate(-0.29 -0.29)" fill="none"
                                                            stroke="#000" stroke-width="2"></path>
                                                    </svg>
                                                </span>
                                                <span class="pbmit-button-text">Get a Quote</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="about-us-sec-one fadeIn animated animated-slow pbmit-bg-color-light">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-md-12 col-xl-5 about-us-one-col-1">
                <div class="about-us-one-left">
                    <div class="pbmit-ihbox-style-5">
                        <div class="pbmit-ihbox-wrap">
                            <div class="pbmit-icon-wrap">
                                <div class="pbmit-ihbox-icon">
                                    <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                                        <i class="pbmit-xclean-icon pbmit-xclean-icon-home-service"></i>
                                    </div>
                                </div>
                                <h4 class="pbmit-element-subtitle">
                                    Free Services
                                </h4>
                            </div>
                            <div class="pbmit-contents-wrap">
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Free Evaluation Of Your <br>
                                        Cleaning Needs
                                    </h2>
                                </div>
                                <div class="pbmit-ihbox-btn">
                                    <a href="contact-us.html">
                                        <span class="pbmit-button-text">Read More</span>
                                        <span class="pbmit-button-icon-wrapper">
                                            <span class="pbmit-button-icon">
                                                <i class="pbmit-base-icon-black-arrow-1"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-2 about-us-one-col-2">
                <div class="about-us-one-center-area pbmit-bg-color-global pbmit-fid-space">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="520" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">520</span>
                                <span class="pbmit-fid"><span>+</span></span>
                            </h4>
                            <div class="pbmit-heading-desc">Professional and Experienced staff ready to help you</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-5 about-us-one-col-3">
                <div class="about-us-one-rightbox">
                    <div class="pbmit-bg-overlay"></div>
                    <h2 class="pbmit-heading">Easy Booking & Fast <br> Communication</h2>
                    <div class="pbmit-icon-btn">
                        <div class="pbmit-btn-wrap">
                            <a class="pbmit-btn" href="contact-us.html">
                                <span class="pbmit-button-content-wrapper">
                                    <span class="pbmit-button-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
                                            <title>black-arrow</title>
                                            <path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                            <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                            <path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                        </svg>
                                    </span>
                                    <span class="pbmit-button-text">Book Now</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us end --> 

<!-- Ihbox Start --> 
<section class="section-lg ihbox-one-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-6">
                <div class="pbmit-heading-subheading animation-style2">
                    <h4 class="pbmit-subtitle">Why choose us?</h4>
                    <h2 class="pbmit-title">We work across industries
                        to keep your spaces clean
                        and hygienic every day</h2>
                </div>
                <a class="pbmit-btn pbmit-btn-outline" href="/products">
                    <span class="pbmit-button-content-wrapper">
                        <span class="pbmit-button-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
                                <title>black-arrow</title>
                                <path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                <path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                                <path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
                            </svg>
                        </span>
                        <span class="pbmit-button-text">Know More</span>
                    </span>
                </a>
            </div>
            <div class="col-md-12 col-xl-6 pt-xl-0 pt-4">
                <div class="row pb-md-4">
                    <div class="col-md-6">
                        <div class="pbmit-ihbox-style-1">
                            <div class="pbmit-ihbox-headingicon">
                                <div class="pbmit-ihbox-icon">
                                    <img src="/images/logos/biosolve.svg" alt="">
                                </div>
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Bio Solve</h2>
                                    <div class="pbmit-heading-desc">Bio Solve offers a range of effective cleaning products to keep your surroundings spotless. Our products are designed to tackle the toughest stains and ensure a hygienic environment.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-xl-0 pt-4">
                        <div class="pbmit-ihbox-style-1">
                            <div class="pbmit-ihbox-headingicon">
                                <div class="pbmit-ihbox-icon">
                                    <img src="/images/logos/ekota.svg" alt="">
                                </div>
                                <div class="pbmit-ihbox-contents">
                                    <h2 class="pbmit-element-title">Ekota</h2>
                                    <div class="pbmit-heading-desc">Ekota focuses on providing eco-friendly solutions with our range of sustainable cutleries. Made from areca leaves and wood, our products are both biodegradable and durable.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pbmit-ihbox-style-1">
                                <div class="pbmit-ihbox-headingicon">
                                    <div class="pbmit-ihbox-icon">
                                        <img src="/images/logos/HYGIA.svg" alt="">
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h2 class="pbmit-element-title">Hygia</h2>
                                        <div class="pbmit-heading-desc">Hygia provides a comprehensive range of products designed to maintain cleanliness and hygiene in various settings. From dispensers to cleaning tools, Hygia ensures a clean and fresh environment.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-xl-0 pt-4">
                            <div class="pbmit-ihbox-style-1">
                                <div class="pbmit-ihbox-headingicon">
                                    <div class="pbmit-ihbox-icon">
                                        <img src="/images/logos/izzah.svg" alt="">
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h2 class="pbmit-element-title">Izzah</h2>
                                        <div class="pbmit-heading-desc">Izzah offers a diverse range of high-quality tissue products designed to meet various needs. Whether for personal use, home, or business, our tissues provide softness, strength, and reliability.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ihbox end --> 

<!-- Marquee Start --> 
<section>
    <div class="container-fluid p-0">
        <div class="swiper-slider marquee">
            <div class="swiper-wrapper">
                <article class="pbmit-marquee-effect-style-1 swiper-slide">
                    <div class="pbmit-tag-wrapper">
                        <h2 class="pbmit-element-title" data-text="Cleaning">
                            Cleaning
                        </h2>
                    </div>
                </article>
                <article class="pbmit-marquee-effect-style-1 swiper-slide">
                    <div class="pbmit-tag-wrapper">
                        <h2 class="pbmit-element-title" data-text="Moping">
                            Moping
                        </h2>
                    </div>
                </article>
                <article class="pbmit-marquee-effect-style-1 swiper-slide">
                    <div class="pbmit-tag-wrapper">
                        <h2 class="pbmit-element-title" data-text="Vacuum">
                            Vacuum
                        </h2>
                    </div>
                </article>
                <article class="pbmit-marquee-effect-style-1 swiper-slide">
                    <div class="pbmit-tag-wrapper">
                        <h2 class="pbmit-element-title" data-text="Sweeping">
                            Sweeping
                        </h2>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Marquee End -->



<!-- Service Start --> 
<section class="service-one-bg section-lg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10 col-lg-8">
                <div class="pbmit-heading-subheading animation-style2">
                    <h4 class="pbmit-subtitle">Our Categories</h4>
                    <h2 class="pbmit-title">Explore Our Categories</h2>
                </div>
            </div>
            <div class="col-md-2 col-lg-4 text-end">
                <div class="service-swiper-arrow swiper-btn-custom d-inline-flex flex-row-reverse"></div> 
            </div>
        </div>
        <div class="swiper-slider" data-arrows-class="service-swiper-arrow" data-autoplay="false" data-loop="true" data-dots="false" data-arrows="true" data-columns="3" data-margin="40" data-effect="slide">
            <div class="swiper-wrapper">
                <!-- Slide1 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/assets/images/categories/dispenser.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="/products" title="Residential Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="/products"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <h3 class="pbmit-service-title">
                                    <a href="/products">Dispensers</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>Discover a wide range of durable and stylish dispensers for tissues, soaps, and sanitizers. Perfect for commercial and residential use, ensuring hygiene and convenience in every space.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide2 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/assets/images/categories/bins.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="/products" title="Office Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="/products"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <h3 class="pbmit-service-title">
                                    <a href="/products">Bins and Trolleys</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>Robust and functional bins and trolleys designed for efficient waste management and easy mobility. Ideal for offices, malls, hospitals, and cleaning services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide3 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/assets/images/categories/cleaning.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="/products" title="Floor Cleaner">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="/products"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <h3 class="pbmit-service-title">
                                    <a href="/products">Cleaning Tools</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>From brooms and brushes to mops and buckets, our cleaning tools are built to handle tough tasks and deliver spotless results with ease.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide4 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/assets/images/categories/gloves.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="/products" title="Domestic Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="/products"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <h3 class="pbmit-service-title">
                                    <a href="/products">Disposables</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>High-quality disposable gloves, aprons, and covers designed to maintain hygiene and safety in all environments — perfect for kitchens, clinics, and cleaning professionals.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide7 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/assets/images/categories/liquid.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="/products" title="Carpet Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="/products"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <h3 class="pbmit-service-title">
                                    <a href="/products">Cleaning Liquids</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>Effective and powerful cleaning solutions for all surfaces. Choose from a range of disinfectants, floor cleaners, toilet cleaners, and more.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide8 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/assets/images/categories/tissue.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="/products" title="Commercial Cleaning">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="/products"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <h3 class="pbmit-service-title">
                                    <a href="/products">Tissues & rolls</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>Soft, strong, and absorbent tissues, including jumbo rolls, kitchen towels, and facial tissues — tailored for everyday hygiene needs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide9 -->
                <article class="pbmit-service-style-1 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbmit-box-content-wrap">
                            <div class="pbmit-service-image-wrapper">
                                <div class="pbmit-featured-img-wrapper">
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/assets/images/categories/bowl.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="pbmit-service-btn-wrapper">
                                    <a class="pbmit-service-btn" href="/products" title="Furniture Polish">
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <a class="pbmit-link" href="/products"></a>
                            </div>
                            <div class="pbmit-content-box">
                                <h3 class="pbmit-service-title">
                                    <a href="/products">Bowls & Plates</a>
                                </h3>
                                <div class="pbmit-service-description">
                                    <p>Eco-friendly disposable bowls and plates made from areca leaves and wood. A perfect blend of sustainability and convenience for events, catering, and everyday use.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Service End -->

<!-- Fid Start --> 
<section class="section-lg">
    <div class="container">
        <div class="fid-one-area">
            <div class="pbmit-text-editor">
                <span>Fun and facts</span>
            </div>
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="250" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">250</span>
                                <span class="pbmit-fid"><span>+</span></span>
                            </h4>
                            <div class="pbmit-heading-desc">Professional and Experienced staff ready to help you anytime.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="14" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">14</span>
                                <span class="pbmit-fid"><sub>m</sub></span>
                            </h4>
                            <div class="pbmit-heading-desc">Proving all type of cleaning solutions  every small and big businesses</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="460" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">460</span>
                                <span class="pbmit-fid"><span>+</span></span>
                            </h4>
                            <div class="pbmit-heading-desc">We start with a thorough detail clean throughout your house.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="pbminfotech-ele-fid-style-2">
                        <div class="pbmit-fid-content">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-fid-before"></span>
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="30" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">30</span>
                                <span class="pbmit-fid"><sub>k</sub></span>
                            </h4>
                            <div class="pbmit-heading-desc">We hold a successful track record of satisfying our customers.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fid End --> 

<!-- Contact Start -->
<section class="contact-one-bg">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-12 col-xl-6 bg-blackish">
                <%- include('partials/enquiry') %>
            </div>
            <div class="col-md-12 col-xl-6"></div>
        </div>
    </div>
</section>
<!-- Contact End -->

<!-- Testimonial Start -->
<section class="section-lg testimonial-one-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 col-lg-7">
                <div class="pbmit-heading-subheading animation-style2">
                    <h4 class="pbmit-subtitle">Testimonials</h4>
                    <h2 class="pbmit-title">Trusted by thousand of <br> people & companies.</h2>
                </div>
            </div>
            <div class="col-md-4 col-lg-5 text-end">
                <div class="testimonial-swiper-arrow swiper-btn-custom d-inline-flex flex-row-reverse"></div> 
            </div>
        </div>
        <div class="swiper-slider" data-arrows-class="testimonial-swiper-arrow" data-autoplay="true" data-loop="true" data-dots="false" data-arrows="true" data-columns="2" data-margin="40" data-effect="slide">
            <div class="swiper-wrapper">
                <!-- Slide1 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“We ordered dispensers and cleaning liquids in bulk — the products were durable, and the delivery was super quick. Highly recommended!”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">Sarah M</h3>
                            <div class="pbminfotech-testimonial-detail">Facility Manager</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                                <img src="/assets/images/profile.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide2 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“We've been sourcing cleaning tools and tissues from them for over a year. The quality and consistency are outstanding.”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">Mohammed A.</h3>
                            <div class="pbminfotech-testimonial-detail">Office Admin</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                               <img src="/assets/images/profile.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide3 -->
                <!-- Slide4 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“Absolutely love their disposable areca plates and bowls. Perfect for our events and so much better for the environment.”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">Anjali R.</h3>
                            <div class="pbminfotech-testimonial-detail">Event Planner</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                                <img src="/assets/images/profile.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide5 -->
                <article class="pbmit-testimonial-style-2 swiper-slide">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-box-desc">
                            <blockquote class="pbminfotech-testimonial-text">
                                <p>“The team went above and beyond to help us select the right cleaning products. Their recommendations were spot-on, and the service was impeccable.”</p>
                            </blockquote>
                        </div>
                        <div class="pbmit-auther-content">
                            <h3 class="pbminfotech-box-title">James T.</h3>
                            <div class="pbminfotech-testimonial-detail">Restaurant Owner</div>
                        </div>
                        <div class="pbmit-featured-img-wrapper">
                            <div class="pbmit-featured-wrapper">
                               <img src="/assets/images/profile.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Slide6 -->
            </div>
        </div>
    </div>
</section>
<!-- Testimonial End -->  

<!-- Client Start -->
<!-- <section>
    <div class="container">
        <div class="border-top section-md">
            <div class="row">
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-01.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-01.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-02.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-02.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-03.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-03.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-04.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-04.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-05.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-05.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="pbmit-client-style-1 col-md-2">
                    <div class="pbmit-border-wrapper">
                        <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                            <h4 class="pbmit-hide">Client-07</h4>
                            <div class="pbmit-client-hover-img">
                                <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-global-06.png" alt="">
                            </div>
                            <div class="pbmit-featured-img-wrapper">
                                <div class="pbmit-featured-wrapper">
                                    <img src="https://xclean-demo.pbminfotech.com/html-demo/images/client/client-black-06.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section> -->
<!-- Client End -->


<%- include('partials/footer') %>
