<footer class="site-footer pbmit-bg-color-blackish">
  <div class="pbmit-footer-widget-area">
      <div class="container">
          <div class="row">
              <div class="pbmit-footer-widget-col-1 col-md-3">
                  <div class="widget">
                    <div class="logo">
                        <img src="assets/images/logo.svg" alt="">
                        <p>Yral Concepts, a burgeoning enterprise established in 2024 by three visionary friends in Ajman, UAE, is dedicated to revolutionizing everyday life through innovative product solutions.</p>
                    </div>
                      <div class="textwidget">
                          <ul class="pbmit-social-links">
                              <li class="pbmit-social-li pbmit-social-facebook">
                                  <a title="Facebook" href="#" target="_blank" rel="noopener">
                                      <span><i class="pbmit-base-icon-facebook-f"></i></span>
                                  </a>
                              </li>
                              <li class="pbmit-social-li pbmit-social-twitter">
                                  <a title="Twitter" href="#" target="_blank" rel="noopener">
                                      <span><i class="pbmit-base-icon-twitter-2"></i></span>
                                  </a>
                              </li>
                              <li class="pbmit-social-li pbmit-social-instagram">
                                  <a title="Instagram" href="#" target="_blank" rel="noopener">
                                      <span><i class="pbmit-base-icon-instagram"></i></span>
                                  </a>
                              </li>
                              <li class="pbmit-social-li pbmit-social-youtube">
                                  <a title="Youtube" href="#" target="_blank" rel="noopener">
                                      <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="pbmit-footer-widget-col-2 col-md-3">
                  <div class="widget pbmit-two-column-menu">
                      <h2 class="widget-title">Useful Link</h2>
                      <div class="textwidget">
                          <ul>
                              <li><a href="/">Home</a></li>
                              <li><a href="/about">About</a></li>
                              <li><a href="/products">Products</a></li>
                              <li><a href="/contact">Contact</a></li>
                              <li><a href="/contact">Get a Quote</a></li>
                              <li><a href="/contact">Enquiry</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="pbmit-footer-widget-col-3 col-md-3">
                  <div class="widget widget_text">
                      <h2 class="widget-title">Working Time</h2>
                      <div class="pbmit-timelist-wrapper">
                          <ul class="pbmit-timelist-list">
                              <li>
                                  <span class="pbmit-timelist-time">Mon - Sat: 8.00am - 6.00pm</span>
                              </li>
                              <li>
                                  <span class="pbmit-timelist-time">Sunday Closed</span>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="pbmit-footer-widget-col-4 col-md-3">
                  <aside class="widget">
                      <h2 class="widget-title">Say Hello</h2>
                      <div class="pbmit-contact-widget-lines">
                          <div class="pbmit-contact-widget-line pbmit-contact-widget-phone">+971 56 202 4262</div>
                          <div class="pbmit-contact-widget-line pbmit-contact-widget-email">Info@yralconcepts.com</div>
                      </div>
                  </aside>
              </div>
          </div>
      </div>
  </div>
  <div class="pbmit-footer-text-area">
      <div class="container">
          <div class="pbmit-footer-text-inner">
              <div class="row">
                  <div class="col-md-12">
                      <div class="pbmit-footer-copyright-text-area"> Copyright ©  <%= new Date().getFullYear() %> <a href="#">Yral Concepts</a>, All Rights Reserved.</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

</div>
<!-- page wrapper End -->


<!-- Scroll To Top -->
<div class="pbmit-progress-wrap">
  <svg class="pbmit-progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 19.2859;"></path>
  </svg>
</div>
<!-- Scroll To Top End -->

<!-- JS
  ============================================ -->
<!-- jQuery JS -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- jquery Waypoints JS -->
<script src="assets/js/jquery.waypoints.min.js"></script>
<!-- jquery Appear JS -->
<script src="assets/js/jquery.appear.js"></script>
<!-- Numinate JS -->
<script src="assets/js/numinate.min.js"></script>
<!-- Slick JS -->
<script src="assets/js/swiper.min.js"></script>
<!-- Magnific JS -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Circle Progress JS -->
<script src="assets/js/circle-progress.js"></script> 
<!-- countdown JS -->
<script src="assets/js/jquery.countdown.min.js"></script> 
<!-- AOS -->
<script src="assets/js/aos.js"></script>
<!-- GSAP -->
<script src='assets/js/gsap.js'></script>
<!-- Scroll Trigger -->
<script src='assets/js/ScrollTrigger.js'></script>
<!-- Split Text -->
<script src='assets/js/SplitText.js'></script>
<!-- Magnetic -->
<script src='assets/js/magnetic.js'></script>
<!-- Theia Sticky Sidebar JS -->
<script src='assets/js/theia-sticky-sidebar.js'></script>
<!-- GSAP Animation -->
<script src='assets/js/gsap-animation.js'></script>
<!-- Scripts JS -->
<script src="assets/js/scripts.js"></script>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"91f8c1910ae1c87a","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.1.0","token":"125856bf84ab44059737e93b01aa0fef"}' crossorigin="anonymous"></script>
</body>
</html>