<div class="page-header">
    <nav class="navbar navbar-expand">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item small-screens-sidebar-link">
                <a href="#" class="nav-link"><i class="material-icons-outlined">menu</i></a>
            </li>
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="/assets-admin/img/avatars/icon.png" alt="profile image">
                    <span>BirthStory</span><i class="material-icons dropdown-icon">keyboard_arrow_down</i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- <div class="dropdown-divider"></div> -->
                    <a href="/admin/logout" class="dropdown-item logout-link">Logout</a>
                </div>
            </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link" id="date"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script>
    document.querySelector('.logout-link').addEventListener('click', function (e) {
        e.preventDefault();
        fetch('/api/admin/logout', {
            method: 'POST',
            credentials: 'include',
        }).then(response => {
            if (response.redirected) {
                Toastify({
                    text: "logout Successfully",
                    duration: 1000,
                    destination: '/manage-blog',
                    newWindow: true,
                    close: true,
                    position: "center",
                    gravity: "bottom",
                    positionRight: true,
                    backgroundColor: "#61d39f"
                }).showToast();
                setTimeout(() => {
                    window.location.href = '/admin/login';
                }, 1000);

            }
        });
    });
</script>